<h2>SKEL <small>Angularjs/Bootstrap</small></h2>
<p>This is a skeleton for angularjs with bootstrap under python-flask.</p>

<h3>The following files are refrenced from the root of web application</h3>
<dl>
    <dt>/templates/index.html</dt>
    <dd>The site template for angularjs. Loads angular, bootstrap and site files</dd>
    <dt>/templates/partials/*</dt>
    <dd>All the partials for the angularjs views</dd>
    <dt>/static/js/*</dt>
    <dd>Site specific javascript files</dd>
    <dt>/static/js/ui-bootstrap-tpls-0.11.2.min.js</dt>
    <dd>Bootstrap components for angularjs</dd>
    <dt>/static/css/site.css</dt>
    <dd>Site wide CSS files (empty).</dd>
</dl>

<p>
    Since Angular and flask use the same layout variable syntax. ie:
    <pre>{{ "{{ VARIABLE }}" }}</pre>
    The Angularjs interpolation has been modified to:
     <pre>[[ StringConst ]]</pre>
    If you wish to use a diffrent delimiter, you can modify the character in /static/js/app.js
</p>

<h3>External Links</h3>
<ul>
<li><a href="http://getbootstrap.com/css/">Bootstrap CSS</a></li>
<li><a href="http://angular-ui.github.io/bootstrap/">AngularJS Bootstrap Directives</a></li>
<li><a href="http://flask.pocoo.org/docs/0.10/">Flask Documentation</a></li>
<li><a href="https://flask-restful.readthedocs.org/en/0.3.1/">Flask-RESTful Documentation</a></li>
</ul>

